<div class="podcast row">
	<div class="col-sm-6">
		<h3><%= link_to "#{podcast.number}: #{podcast.title}", number_path(podcast.number) %></h3>
		<h4><%= podcast.date.strftime("%B %-d, %Y") %></h4>
		<p><%= podcast.description %></p>
	</div>
	<div class="col-sm-6">
		<img src="http://<%= ENV['S3_BUCKET_NAME'] %>/images/<%= "%03d" % podcast.number %>.jpg">
		<audio src="http://<%= ENV['S3_BUCKET_NAME'] %>/podcasts/<%= "%03d" % podcast.number %>.mp3" controls preload></audio>
		<h5 class="text-center"><%= link_to "Click here for the MP3", "http://#{ENV['S3_BUCKET_NAME']}/podcasts/#{'%03d' % podcast.number}.mp3" %></h5>
	</div>
</div>