<% if params[:random] %>
  <%= link_to "NOT THIS ONE", "#{rand(1..Podcast.last.number)}?random=true", class: "btn btn-lg btn-primary btn-block" %>
<% end %>
<div class="podcast row">
	<div class="col-sm-6">
		<h3><%= link_to "#{podcast.number}: #{podcast.title}", number_path(podcast.number) %></h3>
		<h4><%= podcast.date.strftime("%B %-d, %Y") %></h4>
		<p><%= podcast.description %></p>
	</div>
	<div class="col-sm-6">
		<img src="http://<%= ENV['S3_BUCKET_NAME'] %>/images/<%= "%03d" % podcast.number%>.jpg">
    <%= link_to "CLICK HERE FOR MP3", "http://#{ENV['S3_BUCKET_NAME']}/podcasts/#{'%03d' % podcast.number}.mp3", class: "btn btn-sm btn-danger btn-block" %>
	</div>
</div>
