<% if params[:random] %>
  <%= link_to "RANDOM EPISODE", "#{title_path(random_podcast)}?random=true", class: "btn btn-primary btn-block" %>
<% end %>
<div class="podcast row">
	<div class="col-sm-6">
		<h3><%= link_to "#{podcast.number}: #{podcast.title}", title_path(podcast) %></h3>
		<h4><%= podcast.date.strftime("%B %-d, %Y") %></h4>
		<p><%= podcast.description %></p>
	</div>
	<div class="col-sm-6">
		<img src="http://<%= ENV['S3_BUCKET_NAME'] %>/images/<%= "%03d" % podcast.number%>.jpg">
    <audio src="http://<%= ENV['S3_BUCKET_NAME'] %>/podcasts/<%= "%03d" % podcast.number %>.mp3" controls></audio>
    <%= link_to "CLICK HERE FOR THE MP3", "http://#{ENV['S3_BUCKET_NAME']}/podcasts/#{'%03d' % podcast.number}.mp3", class: "btn btn-danger btn-block" %>
	</div>
</div>
